<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mobgen.presentation">

    <application>
        <activity android:name=".pokedex.PokedexActivity">
        </activity>
        <activity
                android:name=".game.GameActivity"
                android:label="@string/title_activity_game"
                android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>